<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="../templates/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../templates/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../templates/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <style>
        /* CARDS */
        .card-custom {
            border: none;
            border-radius: 18px;
            background: white;
            box-shadow: 0 10px 25px rgba(0,0,0,0.05);
            transition: 0.3s;
        }

        .card-custom:hover {
            transform: translateY(-5px);
        }

        .value {
            font-size: 2rem;
            font-weight: bold;
        }

        .label {
            color: #64748b;
        }

        /* GAUGE CONTAINER */
        .gauge-card {
            background: white;
            border-radius: 18px;
            padding: 20px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.05);
        }

        canvas {
            max-height: 160px;
        }


    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Menu -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-bolt"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Energía</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Inicio -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Inicio</span></a>
            </li>


            <!-- Sensores -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#sensores">
                    <i class="fas fa-microchip"></i>
                    <span>Sensores</span>
                </a>

                <div id="sensores" class="collapse">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="energia.html">
                            Energía
                        </a>

                        <a class="collapse-item" href="temperatura.html">
                            Temperatura
                        </a>

                    </div>
                </div>
            </li>

            <!-- Usuarios -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#users"
                    aria-expanded="true" aria-controls="users">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Usuarios</span>
                </a>
                <div id="users" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="usuarios_admin.html">Administrar</a>
                        <a class="collapse-item" href="usuarios_crear.html">Registrar</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End Menu -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span id="userNameDisplay" class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    Cargando...
                                </span>
                                <img class="img-profile rounded-circle"
                                    src="../templates/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" id="perfilLink" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Mi Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="logout.html" >
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- DataTales Example -->

                    <div class="row g-4">
                        <div class="col-md-12">
                            <!-- ALERT -->
                            <div id="alerta" class="alert alert-info text-center shadow-sm">
                                Cargando datos...
                            </div>
                        </div>
                    </div>



                    <!-- GAUGES -->
                    <div class="row g-4">

                        <div class="col-md-3">
                            <div class="gauge-card text-center">
                                <div class="label">Voltaje</div>
                                <canvas id="gaugeVoltaje"></canvas>
                                <div class="value text-primary" id="v">0</div>
                                <small>Voltios</small>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="gauge-card text-center">
                                <div class="label">Corriente</div>
                                <canvas id="gaugeCorriente"></canvas>
                                <div class="value text-warning" id="c">0</div>
                                <small>Amperios</small>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="gauge-card text-center">
                                <div class="label">Potencia</div>
                                <canvas id="gaugePotencia"></canvas>
                                <div class="value text-danger" id="p">0</div>
                                <small>Watts</small>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="gauge-card text-center">
                                <div class="label">Energía</div>
                                <canvas id="gaugeEnergia"></canvas>
                                <div class="value text-success" id="e">0</div>
                                <small>kWh</small>
                            </div>
                        </div>
                    </div>

                    <!-- GRAFICAS -->
                    <div class="row g-4 mt-3">

                        <div class="col-md-4">
                            <div class="card-custom mb-4 p-3">
                                <canvas id="chartVoltaje"></canvas>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card-custom mb-4 p-3">
                                <canvas id="chartCorriente"></canvas>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card-custom p-3">
                                <canvas id="chartPotencia"></canvas>
                            </div>
                        </div>
                    </div>

                    <!-- TEMPERATURA -->

<div class="row g-4 mt-3">

    <!-- TEMPERATURA -->
    <div class="col-md-4">

        <div class="gauge-card text-center">

            <div class="label">
                Temperatura
            </div>

            <div
                class="value text-danger"
                id="temp"
            >
                0
            </div>

            <small>°C</small>

        </div>

    </div>

    <!-- HUMEDAD -->
    <div class="col-md-4">

        <div class="gauge-card text-center">

            <div class="label">
                Humedad
            </div>

            <div
                class="value text-info"
                id="humedad"
            >
                0
            </div>

            <small>%</small>

        </div>

    </div>

    <!-- ESTADO -->
    <div class="col-md-4">

        <div class="gauge-card text-center">

            <div class="label">
                Ambiente
            </div>

            <div
                class="value"
                id="estadoTemp"
            >
                NORMAL
            </div>

        </div>

    </div>

</div>

<!-- DISPOSITIVOS -->

<!-- RELAYS -->

<div class="row g-4 mt-3">

    <div class="col-md-12">

        <div class="card-custom p-4">

            <h4 class="mb-4">
                Dispositivos
            </h4>

            <div
                id="relayContainer"
                class="row"
            >

            </div>

        </div>

    </div>

</div>
                    

                    <!-- Content Row -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Next Software & Development S.A.S 2025</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
   
    <!-- Bootstrap core JavaScript-->
    <script src="../templates/vendor/jquery/jquery.min.js"></script>
    <script src="../templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../templates/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../templates/js/sb-admin-2.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="const.js"></script>
    <script src="accesos.js"></script> 

    <script>
        let token;
        let user;

        // ===================== VARIABLES =====================
        let labels = [];
        let dataVoltaje = [];
        let dataCorriente = [];
        let dataPotencia = [];

        let gVoltaje, gCorriente, gPotencia, gEnergia;
        let chartVoltaje, chartCorriente, chartPotencia;

        // ===================== GAUGE =====================
        function crearGauge(ctx, max, color) {
            return new Chart(ctx, {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [0, max],
                        backgroundColor: [color, '#e2e8f0'],
                        borderWidth: 0,
                        circumference: 180,
                        rotation: 270
                    }]
                },
                options: {
                    cutout: '75%',
                    plugins: { legend: { display: false } }
                }
            });
        }

        function actualizarGauge(chart, valor, max) {
            chart.data.datasets[0].data = [valor, max - valor];
            chart.update();
        }

        // ===================== GRAFICAS =====================
        function crearGrafica(ctx, label, data, color) {
            return new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: label,
                        data: data,
                        borderColor: color,
                        backgroundColor: color + "33",
                        tension: 0.4,
                        fill: true
                    }]
                }
            });
        }

        window.onload = function() {
            token = localStorage.getItem("token");
            user = JSON.parse(localStorage.getItem("user"));

            if (!token) {
                window.location.href = "bloqueo.html";
                return;
            }

            if (user.Usertype_Id !== 1) {
                window.location.href = "index.html";
                return;
            }

                // gauges
            gVoltaje = crearGauge(document.getElementById('gaugeVoltaje'), 250, '#3b82f6');
            gCorriente = crearGauge(document.getElementById('gaugeCorriente'), 20, '#f59e0b');
            gPotencia = crearGauge(document.getElementById('gaugePotencia'), 2000, '#ef4444');
            gEnergia = crearGauge(document.getElementById('gaugeEnergia'), 10, '#22c55e');

            // gráficas
            chartVoltaje = crearGrafica(document.getElementById('chartVoltaje'), 'Voltaje', dataVoltaje, '#3b82f6');
            chartCorriente = crearGrafica(document.getElementById('chartCorriente'), 'Corriente', dataCorriente, '#f59e0b');
            chartPotencia = crearGrafica(document.getElementById('chartPotencia'), 'Potencia', dataPotencia, '#ef4444');


            cargarDatos();

            cargarTemperatura();

            cargarRelays();

            setInterval(() => {

                cargarDatos();

                cargarTemperatura();

                cargarRelays();

            }, 5000);
        };


        function cargarDatos() {

            axios({
                method: 'get',
                url: `${getServerUrl()}/energia/last`,
                headers: {
                    Authorization: `Bearer ${token}`
                }
            })
            .then(function(response) {

                let data = Array.isArray(response.data) ? response.data[0] : response.data;

                if (!data) return;

                // cards
                document.getElementById("v").innerText = Number(data.voltaje).toFixed(2);
                document.getElementById("c").innerText = Number(data.corriente).toFixed(2);
                document.getElementById("p").innerText = Number(data.potencia).toFixed(2);
                document.getElementById("e").innerText = Number(data.energia).toFixed(4);

                // gauges
                actualizarGauge(gVoltaje, data.voltaje, 250);
                actualizarGauge(gCorriente, data.corriente, 20);
                actualizarGauge(gPotencia, data.potencia, 2000);
                actualizarGauge(gEnergia, data.energia, 10);

                // tiempo
                const tiempo = new Date().toLocaleTimeString();

                labels.push(tiempo);
                dataVoltaje.push(data.voltaje);
                dataCorriente.push(data.corriente);
                dataPotencia.push(data.potencia);

                if (labels.length > 10) {
                    labels.shift();
                    dataVoltaje.shift();
                    dataCorriente.shift();
                    dataPotencia.shift();
                }

                chartVoltaje.update();
                chartCorriente.update();
                chartPotencia.update();

                // alerta
                const alerta = document.getElementById("alerta");

                if (data.potencia > 4000) {
                    alerta.className = "alert alert-danger text-center";
                    alerta.innerText = "⚠️ Consumo crítico";
                } else if (data.potencia > 2000) {
                    alerta.className = "alert alert-warning text-center";
                    alerta.innerText = "⚡ Consumo moderado";
                } else {
                    alerta.className = "alert alert-success text-center";
                    alerta.innerText = "✅ Consumo óptimo";
                }

                // PRUEBA BÁSICA
                //alert(JSON.stringify(data));

            })
            .catch(function(error) {
                console.error(error);

                if (error.response) {
                    alert("Error: " + error.response.status);
                } else {
                    alert("Error de conexión");
                }
            });
        }

        function cargarTemperatura() {

            axios({

                method: 'get',

                url: `${getServerUrl()}/temperatura/last`,

                headers: {
                    Authorization: `Bearer ${token}`
                }

            })

            .then(function(response) {

                let data =
                    Array.isArray(response.data)
                    ? response.data[0]
                    : response.data;

                if (!data) return;

                // temperatura
                document.getElementById("temp")
                .innerText =
                Number(data.temperatura)
                .toFixed(1);

                // humedad
                document.getElementById("humedad")
                .innerText =
                Number(data.humedad)
                .toFixed(1);

                // estado ambiental
                const estado =
                document.getElementById("estadoTemp");

                if (data.temperatura >= 35) {

                    estado.innerHTML =
                    "🔥 CALIENTE";

                    estado.className =
                    "value text-danger";

                }
                else if (data.temperatura >= 28) {

                    estado.innerHTML =
                    "⚠ TEMPLADO";

                    estado.className =
                    "value text-warning";

                }
                else {

                    estado.innerHTML =
                    "✅ NORMAL";

                    estado.className =
                    "value text-success";
                }


            })

            .catch(function(error) {

                console.error(error);
            });
        }

        function cargarRelays() {

    axios({

        method: 'get',

        url: `${getServerUrl()}/relay/list`,

        headers: {
            Authorization: `Bearer ${token}`
        }

    })

    .then(function(response) {

        const container =
        document.getElementById(
            "relayContainer"
        );

        container.innerHTML = "";

        response.data.forEach(relay => {

            let icono = "⚡";

            // iconos personalizados
            if (
                relay.Relay_Name
                .toLowerCase()
                .includes("luz")
            ) {

                icono = "💡";
            }

            if (
                relay.Relay_Name
                .toLowerCase()
                .includes("vent")
            ) {

                icono = "🌀";
            }

            // estado
            const estado =
                relay.status
                ? "ACTIVO"
                : "APAGADO";

            const color =
                relay.status
                ? "success"
                : "danger";

            // card
            container.innerHTML += `

                <div class="col-md-6 mb-3">

                    <div
                        class="
                            border-left-${color}
                            shadow
                            h-100
                            py-3
                            px-3
                            bg-white
                            rounded
                        "
                    >

                        <div
                            class="
                                text-xs
                                font-weight-bold
                                text-${color}
                                text-uppercase
                                mb-1
                            "
                        >

                            ${icono}
                            ${relay.Relay_Name}

                        </div>

                        <div
                            class="
                                h5
                                mb-0
                                font-weight-bold
                                text-gray-800
                            "
                        >

                            ${estado}

                        </div>

                    </div>

                </div>
            `;
        });

    })

    .catch(function(error) {

        console.error(error);
    });
}

        
    </script>




</body>

</html>
